/.vscode
/.idea
/cmake-build*
/venv
/output

/MDK-ARM/DebugConfig
/MDK-ARM/hal_learn_code

*.uvgui
*.uvgui.*
*.uvguix
*.uvguix.*
*.user
*.bak
*.code-workspace

*.o
*.lnp
*.dep
*.d
*.crf
*.map
*.lst
*.mxproject
